[Unit]
Description="Download models from Github"
After=network-online.target

[Service]
User=user
Type=oneshot
ExecStart=/usr/bin/nm-online -q
ExecStart=/usr/bin/bash -c TAG:MODELSDIR/getmodels.sh

[Install]
WantedBy=multi-user.target
