[Unit]
Description="Download models from Github"
After=network-online.target

[Service]
Type=oneshot
# ExecStart=/bin/bash -c "echo Something"
ExecStart=/usr/bin/nm-online
ExecStart=/usr/bin/bash -c /home/user/Models/getmodels.sh

[Install]
WantedBy=multi-user.target
