[Desktop Entry]
Type=Application
Terminal=false
Exec=TAG:OMNETPPDIR/start_omnetpp.sh
Icon=TAG:OMNETPPDIR/images/logo/logo128.png
Name=OMNeT++ TAG:OMNETPPVERSION
Categories=Development
